.frame {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
}
.circle {
  width: 60px;
  height: 30px;
  border: solid 20px #d86f45;
  border-radius: 200px 200px 0 0;
  position: absolute;
  top: 50px;
  left: 100px;
  border-bottom: transparent;
}
.circle::before {
  content: "";
  width: 60px;
  height: 30px;
  border: solid 20px #d86f45;
  border-radius: 0px 0px 200px 200px;
  position: absolute;
  top: 30px;
  left: 60px;
  border-top: transparent;
}
.circle::after {
  content: "";
  width: 60px;
  height: 30px;
  border: solid 20px #d86f45;
  border-radius: 0px 0px 200px 200px;
  position: absolute;
  top: 30px;
  left: -100px;
  border-top: transparent;
}
.dot {
  background-color: #d86f45;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  top: 20px;
  left: 140px;
}
.dot::before {
  content: "";
  background-color: #d86f45;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: -240px;
}

body {
  background-color: #f5d6b4;
}
